.breadcrumbs {
    padding: 20px 24px 25px;
    font-size: 16px;
    line-height: 22px;
}
    .breadcrumbs__item {
        position: relative;
        display: inline;
        vertical-align: baseline;
        color: #666666;
    }
        .breadcrumbs__item::after {
            content: "";
            display: inline-block;
            margin-top: 7px;
            margin-left: 9px;
            margin-right: 8px;
            vertical-align: top;
            border-left: 6px solid #999999;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }

        .breadcrumbs__item:last-child {
            padding-right: 0;
        }

        .breadcrumbs__item:last-child::after {
            display: none;
        }

        .breadcrumbs__link {
            display: inline;
            vertical-align: baseline;
            padding-top: 6px;
            padding-bottom: 6px;
            text-decoration: 1px underline rgba(0 102 153 / 50%);
            text-underline-offset: 3px;
            color: #006699;
            transition: text-decoration-color var(--transition-hover),
                        color var(--transition-hover);
        }

        .breadcrumbs__link:hover {
            text-decoration-color: rgba(204 0 0 / 50%);
            color: #CC0000;
        }



@media (width < 740px) {

    .breadcrumbs {
        padding-left: 0;
    }
        .breadcrumbs__item {

        }
            .breadcrumbs__item::after {

            }

            .breadcrumbs__item:last-child {

            }

            .breadcrumbs__item:last-child::after {

            }

            .breadcrumbs__link {

            }

            .breadcrumbs__link:hover {

            }
}

