.catalog {
    padding-top: 24px;
    padding-bottom: 100px;
}
    .catalog__navigation {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 40px 0;
        justify-content: space-evenly;
    }
        .catalog__item {

        }
            .catalog__link {
                display: block;
                text-decoration: none;
            }
                .catalog__preview {
                    display: block;
                    width: fit-content;
                    margin-left: auto;
                    margin-right: auto;
                }
                    .catalog__image {
                        vertical-align: top;
                        width: 174px;
                        height: auto;
                        transition: transform 400ms var(--ease-out-quint);
                    }

                    .catalog__preview:hover .catalog__image {
                        transform: scale(105%);
                    }

                .catalog__label {
                    margin-top: 12px;
                    max-width: 200px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 18px;
                    line-height: 24px;
                    color: #333333;
                    text-align: center;
                }

                .catalog__label:hover {

                }
                    .catalog__link {
                        color: inherit;
                        text-decoration: 1px underline rgba(102 102 102 / 50%);
                        text-underline-offset: 3px;
                        transition: color var(--transition-hover),
                                    text-decoration-color var(--transition-hover);
                    }

                    .catalog__link:hover {
                        text-decoration-color: rgba(204 0 0 / 50%);
                        color: #CC0000;
                    }



@media (width < 740px) {

    .catalog {

    }
        .catalog__navigation {
            display: block;
        }
            .catalog__item {
                margin-top: 32px;
            }

            .catalog__item:first-child {
                margin-top: 0;
            }
                .catalog__link {

                }
                    .catalog__preview {

                    }
                        .catalog__image {

                        }

                        .catalog__preview:hover .catalog__image {

                        }

                    .catalog__label {

                    }

                    .catalog__label:hover {

                    }
                        .catalog__link {

                        }

                        .catalog__link:hover {

                        }
}



.catalog--home {
    padding-left: 20px;
    padding-right: 20px;
}
    .catalog--home .catalog__navigation {
        display: flex;
        align-items: flex-start;
    }
        .catalog--home .catalog__item {
            flex-grow: 1;
            flex-basis: 0;
        }
            .catalog--home .catalog__link {

            }
                .catalog--home .catalog__preview {

                }
                    .catalog--home .catalog__image {
                        width: 106px;
                    }

                    .catalog--home .catalog__preview:hover .catalog__image {

                    }

                .catalog--home .catalog__label {
                    margin-top: 4px;
                    max-width: 130px;
                    font-size: 16px;
                    line-height: 18px;
                }

                .catalog--home .catalog__label:hover {

                }
                    .catalog--home .catalog__link {

                    }

                    .catalog--home .catalog__link:hover {

                    }



@media (width < 740px) {

    .catalog--home {
        padding-left: 8px;
        padding-right: 8px;
    }
        .catalog--home .catalog__navigation {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
            .catalog--home .catalog__item {
                margin-top: 0;
            }

            .catalog--home .catalog__item:first-child {

            }
                .catalog--home .catalog__link {

                }
                    .catalog--home .catalog__preview {

                    }
                        .catalog--home .catalog__image {

                        }

                        .catalog--home .catalog__preview:hover .catalog__image {

                        }

                    .catalog--home .catalog__label {

                    }

                    .catalog--home .catalog__label:hover {

                    }
                        .catalog--home .catalog__link {

                        }

                        .catalog--home .catalog__link:hover {

                        }
}


