.file-link {
    display: flex;
    width: fit-content;
    gap: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
    color: #0A72AE;
    white-space: nowrap;
    text-decoration: none;
    transition: color var(--transition-hover),
                text-decoration-color var(--transition-hover);
}

.file-link:hover {
    color: #CC0000;
}
    .file-link__icon {
        margin-top: -1px;
        margin-bottom: 1px;
        vertical-align: top;
    }
