.footer {
    padding-top: 25px;
    padding-bottom: 34px;
    background-color: #2B55A1;
}
    .footer__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 32px;
    }
        .footer__info {
            display: flex;
            align-items: flex-start;
            gap: 6px;
        }
            .footer__logo {
                display: flex;
                align-items: center;
                padding-left: 50px;
                height: 40px;
                background-image: url("../images/logofooter.png");
                background-size: 42px 40px;
                background-repeat: no-repeat;
                font-size: 16px;
                line-height: 17px;
                color: #B4C3ED;
                white-space: nowrap;
                text-decoration: none;
            }

            .footer__copyright {
                margin-top: 2px;
                display: flex;
                align-items: flex-start;
                font-size: 16px;
                line-height: 17px;
                color: #B4C3ED;
            }

        .footer__developers {

        }
            .footer__net-room {

            }

            .footer__red-star {

            }



@media (width < 740px) {

    .footer {
        padding-top: 32px;
    }
        .footer__wrap {
            display: block;
        }
            .footer__info {
                display: flex;
                flex-direction: column;
            }
                .footer__logo {
                    order: -1;
                }

                .footer__copyright {
                    margin-top: 8px;
                }
                    .footer__copyright br {
                        display: none;
                    }

            .footer__developers {
                margin-top: 32px;
            }
                .footer__net-room {

                }

                .footer__red-star {

                }
}
