.header {

}
    .header__primary {

    }

    .header__secondary {
        padding-top: 6px;
        padding-bottom: 7px;
    }
        .header__secondary-wrap {
            display: flex;
            align-items: flex-start;
        }
            .header__logo {
                padding-top: 11px;
                padding-left: 106px;
                height: 77px;
                background-image: url("../images/logo.jpg");
                background-size: 83px 77px;
                background-repeat: no-repeat;
                font-size: 24px;
                line-height: 28px;
                color: #000000;
                text-decoration: none;
            }

            .header__contacts {
                margin-left: auto;
                margin-top: 2px;
                margin-right: 72px;
            }
                .header__phone {
                    display: block;
                    width: fit-content;
                    text-decoration: none;
                    font-size: 30px;
                    line-height: 34px;
                    color: #000000;
                }
                    .header__code {
                        font-size: 18px;
                        line-height: 24px;
                    }

                .header__email {
                    display: block;
                    width: fit-content;
                    margin-left: auto;
                    font-size: 16px;
                    line-height: 22px;
                    color: #0A72AE;
                    text-decoration: 1px underline rgb(10 114 174 / 50%);
                    text-underline-offset: 3px;
                }

                .header__email:hover {
                    color: #CC0000;
                    text-decoration-color: rgb(204 0 0 / 50%);
                }

