.header {

}
    .header__primary {
        background-color: #2C56A2;
    }
        .header__primary-wrap {
            position: relative;
            padding-left: 32px;
            padding-right: 32px;
        }
            .header__nav {
                display: flex;
                align-items: flex-start;
                padding-bottom: 4px;
                margin-left: -14px;
            }
                .header__link {
                    font-weight: bold;
                    padding: 14px;
                    font-size: 16px;
                    line-height: 22px;
                    color: #FFFFFF;
                    text-decoration: 2px underline #C3CCE3;
                    text-underline-offset: 4px;
                }

                .header__link:hover {
                    text-decoration-thickness: 1px;
                }

            .header__search {
                position: absolute;
                right: 22px;
                top: 13px;
                width: 220px;
            }

            .header__mobile-contacts {
                display: none;
            }


    .header__secondary {
        padding-top: 6px;
        padding-bottom: 7px;
        border-bottom: 4px solid #E3E9F3;
        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
        background-color: #FFFFFF;
    }

    .page__body--homepage .header__secondary {
        border-bottom: none;
    }

        .header__secondary-wrap {
            display: flex;
            align-items: flex-start;
            padding-left: 20px;
            padding-right: 20px;
        }
            .header__logo {
                display: flex;
                align-items: center;
                padding-left: 106px;
                height: 77px;
                background-image: url("../images/logo.jpg");
                background-size: 83px 77px;
                background-repeat: no-repeat;
                font-size: 24px;
                line-height: 28px;
                color: #000000;
                white-space: nowrap;
                text-decoration: none;
            }
                .header__logo-line-break {
                    display: none;
                }

            .header__actions {
                margin-left: auto;
                margin-top: 2px;
                margin-right: 70px;
            }
                .header__phone {
                    display: block;
                    width: fit-content;
                    text-decoration: none;
                    font-size: 30px;
                    line-height: 34px;
                    color: #000000;
                }

                .header__email {
                    display: block;
                    width: fit-content;
                    margin-left: auto;
                    font-size: 16px;
                    line-height: 22px;
                    color: #0A72AE;
                    text-decoration: 1px underline rgb(10 114 174 / 50%);
                    text-underline-offset: 3px;
                }

                .header__email:hover {
                    color: #CC0000;
                    text-decoration-color: rgb(204 0 0 / 50%);
                }

                .header__burger {
                    display: none;
                }



@media (width < 740px) {

    .header {
        min-height: var(--header-height);
    }
        .header__primary {
            padding-bottom: 80px;
            display: none;
        }
            .header__primary-wrap {
                padding-left: 0;
                padding-right: 0;
            }
                .header__nav {
                    padding-top: 20px;
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                }
                    .header__link {
                        width: 100%;
                    }

                .header__search {
                    position: static;
                    margin-top: 30px;
                }

                .header__mobile-contacts {
                    display: block;
                    margin-top: 40px;
                }
                    .header__mobile-phone {
                        display: block;
                        width: fit-content;
                        text-decoration: none;
                        font-size: 30px;
                        line-height: 34px;
                        color: #FFFFFF;
                    }

                    .header__mobile-email {
                        margin-top: 18px;
                        display: block;
                        width: fit-content;
                        font-size: 16px;
                        line-height: 22px;
                        color: #FFFFFF;
                        text-decoration: 1px underline rgb(255 255 255 / 50%);
                        text-underline-offset: 3px;
                    }

        .header__secondary {
            position: fixed;
            z-index: 1000;
            left: 0;
            right: 0;
            top: 0;
            padding-top: 0;
            padding-bottom: 0;
            border-bottom: none;
            box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
        }
            .header__secondary-wrap {
                /*display: flex;*/
                /*align-items: flex-start;*/
                padding-left: 0;
                padding-right: 0;
            }

            .header__secondary-wrap.container {
                border-left: none;
                border-right: none;
            }
                .header__logo {
                    padding-left: calc(var(--container-padding) + 48px);
                    height: 60px;
                    /*background-image: url("../images/logo.jpg");*/
                    background-size: 41.5px 38.5px;
                    /*background-repeat: no-repeat;*/
                    background-position: var(--container-padding) center;
                    font-size: 13px;
                    line-height: 16px;
                    /*color: #000000;*/
                    /*text-decoration: none;*/
                }

                @media (365px <= width < 385px) {

                    .header__logo {
                        font-size: 12px;
                        line-height: 15px;
                    }
                }

                @media (width < 365px) {

                    .header__logo {
                        font-size: 14px;
                        line-height: 16px;
                    }
                        .header__logo-line-break {
                            display: inline;
                        }
                }

                .header__actions {
                    display: flex;
                    align-items: flex-start;
                    margin-left: auto;
                    margin-right: 0;
                    margin-top: 0;
                }
                    .header__phone {
                        width: 40px;
                        height: 60px;
                        background-image: url("../vectors/phone.svg");
                        background-size: 24px 24px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        white-space: nowrap;
                        text-indent: 200%;
                        overflow: hidden;
                    }

                    .header__email {
                        /*display: block;*/
                        width: 40px;
                        height: 60px;
                        background-image: url("../vectors/email.svg");
                        background-size: 24px 24px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        white-space: nowrap;
                        text-indent: 200%;
                        overflow: hidden;
                        /*margin-left: auto;*/
                        /*font-size: 16px;*/
                        /*line-height: 22px;*/
                        /*color: #0A72AE;*/
                        /*text-decoration: 1px underline rgb(10 114 174 / 50%);*/
                        /*text-underline-offset: 3px;*/
                    }

                    .header__email:hover {
                        /*color: #CC0000;*/
                        /*text-decoration-color: rgb(204 0 0 / 50%);*/
                    }

                    .header__burger {
                        display: block;
                        width: calc(40px + var(--container-padding) / 2);
                        height: 60px;
                        border: none;
                        padding: 0;
                        background-color: transparent;
                        background-image: url("../vectors/menu-burger.svg");
                        background-size: 24px 24px;
                        background-repeat: no-repeat;
                        background-position: 8px center;
                        text-indent: 200%;
                        white-space: nowrap;
                        overflow: hidden;
                        cursor: pointer;
                    }

        .burger-expanded {

        }
            .burger-expanded .header {
                padding-top: var(--header-height);
            }

            .burger-expanded .header__burger {
                background-image: url("../vectors/menu-close.svg");
            }

            .burger-expanded .header__primary {
                display: block;
            }
}
