.hexagon-background {
    background-color: #DEE2E9;
    background-image: url("../images/hex-background.jpg");
    background-size: 1920px 535px;
    background-repeat: repeat-y;
    background-position: center top;
}
