.hexagon-background {
    min-height: calc(100vh - 156px - 99px);
    background-color: #DEE2E9;
    background-image: url("../images/hex-background.jpg");
    background-size: 1920px 535px;
    background-repeat: repeat-y;
    background-position: center top;
}
