/* Из оригинальной вёрстки */

.rght {
    float: right;
    margin-left: 33px;
    padding-bottom: 30px;
}

@media (width < 740px) {
    .rght {
        float: none;
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
    }
}
