:root {
    --font: "Cuprum", sans-serif;
    --body-font-size: 16px;
    --body-line-height: 22px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    --transition-show: 1200ms var(--ease-out-quint);
    --image-fallback: #F3F5F4;
    --container-padding: 40px;
    --inner-padding: 40px;
    --header-height: 60px;
}

@media (350px <= width < 740px) {
    :root {
        --container-padding: 16px;
        --inner-padding: 16px;
    }
}

@media (width < 350px) {
    :root {
        --container-padding: 12px;
        --inner-padding: 12px;
    }
}
