.tabs {

}
    .tabs__navigation {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-bottom: 6px;
    }
        .tabs__tag {
            cursor: pointer;
            white-space: nowrap;
            background-color: transparent;
            border: none;
            padding: 5px 20px 7px;
            font-size: 16px;
            line-height: 22px;
            color: #6B6B6B;
            text-decoration: 1px underline dashed rgba(107 107 107 / 50%);
            text-underline-offset: 3px;
            transition: color var(--transition-hover),
                        text-decoration-color var(--transition-hover);
        }

        .tabs__tag:hover {
            text-decoration-color: rgba(204 0 0 / 50%);
            color: #CC0000;
        }

        .tabs__tag--current,
        .tabs__tag--current:hover {
            position: relative;
            background-color: #00B144;
            background-image: linear-gradient(#00C366, #00A42D);
            box-shadow: inset 0 6px 4px -4px rgb(0 0 0 / 40%);
            color: #FFFFFF;
            text-decoration: none;
            cursor: default;
        }
            .tabs__tag--current::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 100%;
                margin-left: -6px;
                border-top: 6px solid #00A42D;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
            }

    .tabs__bodies {
        margin-top: 16px;
    }
        .tabs__body {
            display: none;
        }

        .tabs__body--current {
            display: block;
        }




@media (740px <= width) {

    /* Если в табах есть .tabs__addition: */

    .tabs__addition {
        margin-left: auto;
    }


    /* Если в табах есть .tabs__addition и четёртая таба: */

    .tabs:has(.tabs__addition):has(.tabs__tag:nth-child(4)) {

    }
        .tabs:has(.tabs__addition):has(.tabs__tag:nth-child(4)) .tabs__navigation {
            position: relative;
            padding-top: 40px;
        }

        .tabs:has(.tabs__addition):has(.tabs__tag:nth-child(4)) .tabs__addition {
            position: absolute;
            right: 0;
            top: -10px;
        }
}



@media (width < 740px) {

    .tabs {

    }
        .tabs__navigation {
            /*display: flex;*/
            /*align-items: flex-start;*/
            flex-wrap: nowrap;
            overflow-x: auto;
            margin-left: calc(-1 * var(--inner-padding));
            margin-right: calc(-1 * var(--inner-padding));
            padding-left: var(--inner-padding);
            padding-right: var(--inner-padding);
        }
            .tabs__tag {
                /*cursor: pointer;*/
                /*white-space: nowrap;*/
                /*background-color: transparent;*/
                /*border: none;*/
                /*padding: 5px 20px 7px;*/
                /*font-size: 16px;*/
                /*line-height: 22px;*/
                /*color: #6B6B6B;*/
                /*text-decoration: 1px underline dashed rgba(107 107 107 / 50%);*/
                /*text-underline-offset: 3px;*/
                /*transition: color var(--transition-hover),*/
                /*            text-decoration-color var(--transition-hover)*/
            }

            .tabs__tag:hover {
                /*text-decoration-color: rgba(204 0 0 / 50%);*/
                /*color: #CC0000;*/
            }

            .tabs__tag--current,
            .tabs__tag--current:hover {
                /*position: relative;*/
                /*background-color: #00B144;*/
                /*background-image: linear-gradient(#00C366, #00A42D);*/
                /*box-shadow: inset 0 6px 4px -4px rgb(0 0 0 / 40%);*/
                /*color: #FFFFFF;*/
                /*text-decoration: none;*/
                /*cursor: default;*/
            }
                .tabs__tag--current::after {
                    /*content: "";*/
                    /*position: absolute;*/
                    /*left: 50%;*/
                    /*top: 100%;*/
                    /*margin-left: -6px;*/
                    /*border-top: 6px solid #00A42D;*/
                    /*border-left: 6px solid transparent;*/
                    /*border-right: 6px solid transparent;*/
                }

        .tabs__bodies {
            /*margin-top: 24px;*/
        }
            .tabs__body {
                /*display: none;*/
            }

            .tabs__body--current {
                /*display: block;*/
            }
}

