<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Продукт</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <div class="page">
            <div class="page__body">
                <header class="header">
                    <div class="header__primary">
                        <div class="header__primary-wrap container">
                            <nav class="header__nav">
                                <a class="header__link" href="#">Главная</a>
                                <a class="header__link" href="#">Качество</a>
                                <a class="header__link" href="#">Поставщикам</a>
                                <a class="header__link" href="#">Контакты</a>
                            </nav>
                            <div class="header__search">
                                <div class="find">
                                    <input class="find__widget" type="text" placeholder="Поиск">
                                    <button class="find__submit" type="button">Найти</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__secondary">
                        <div class="header__secondary-wrap container">
                            <a class="header__logo" href="home.html">
                                Ярославское НПО<br>
                                нефтехимического<br class="header__logo-line-break"> машиностроения
                            </a>
                            <div class="header__actions">
                                <a class="header__phone" href="tel: +74852662305"><span class="code">(4852)</span> 66-23-05</a>
                                <a class="header__email" href="mailto:info@nponeft.ru">info@nponeft.ru</a>
                                <button class="header__burger" type="button">Меню</button>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="main">
                    <div class="container">
                        <div class="breadcrumbs">
                            <div class="breadcrumbs__item">
                                <a class="breadcrumbs__link" href="home.html">Главная</a>
                            </div>
                            <div class="breadcrumbs__item">
                                <a class="breadcrumbs__link" href="cat-catalog-original.html">Каталог</a>
                            </div>
                            <div class="breadcrumbs__item">
                                <a class="breadcrumbs__link" href="cat-category.html">Сосуды и аппараты емкостные</a>
                            </div>
                            <div class="breadcrumbs__item">
                                Вертикальные цельносварные аппараты с нижним коническим и верхним плоским днищами (ВКП)
                            </div>
                        </div>
                        <div class="book">
                            <div class="book__inner">
                                <div class="book__bottom-border">
                                    <div class="book__sidebar">
                                        <ul class="book__list">
                                            <li class="book__item">
                                                <a class="book__link book__link--current" href="#">
                                                    Сосуды и аппараты емкостные
                                                </a>
                                                <ul class="book__list">
                                                    <li class="book__item">
                                                        <a class="book__link" href="/katalog/sosudy-i-apparaty-emkostnye/gorizontalnye_celnosvarnye_apparaty_s_jellipticheskimi_dnishhami/">Горизонтальные цельносварные аппараты с эллиптическими днищами (ГЭЭ)</a>
                                                    </li>
                                                    <li class="book__item">
                                                        <a class="book__link" href="/katalog/sosudy-i-apparaty-emkostnye/gorizontalnye_celnosvarnye_apparaty_s_konicheskimi_neotbortovannymi_dnishhami/">Горизонтальные цельносварные аппараты с коническими неотбортованными днищами (ГКК)</a>
                                                    </li>
                                                    <li class="book__item book__item--current">
                                                        <a class="book__link" href="/katalog/sosudy-i-apparaty-emkostnye/vertikalnye_apparaty_s_jellipticheskimi_dnishhami/">Вертикальные аппараты с эллиптическими днищами (ВЭЭ)</a>
                                                    </li>
                                                    <li class="book__item">
                                                        <a class="book__link book__link--current" href="/katalog/sosudy-i-apparaty-emkostnye/vertikalnye_celnosvarnye_apparaty_s_nizhnim_konicheskim_i_verhnim_ploskim_dnishhami/">Вертикальные цельносварные аппараты с нижним коническим и верхним плоским днищами (ВКП)</a>
                                                    </li>
                                                    <li class="book__item">
                                                        <a class="book__link" href="/katalog/sosudy-i-apparaty-emkostnye/vertikalnye_celnosvarnye_apparaty_s_ploskimi_dnishhami/">Вертикальные цельносварные аппараты с плоскими днищами (ВПП)</a>
                                                    </li>
                                                    <li class="book__item">
                                                        <a class="book__link" href="/katalog/sosudy-i-apparaty-emkostnye/emkosti_podzemnye_gorizontalnye_drenazhnye/">Емкости подземные горизонтальные дренажные (ЕП/ЕПП)</a>
                                                    </li>
                                                    <li class="book__item">
                                                        <a class="book__link" href="/katalog/sosudy-i-apparaty-emkostnye/gazgoldery/">Газгольдеры</a>
                                                    </li>
                                                    <li class="book__item">
                                                        <a class="book__link" href="/katalog/sosudy-i-apparaty-emkostnye/rezervuari/">Резервуары</a>
                                                    </li>
                                                    <li class="book__item">
                                                        <a class="book__link" href="/katalog/sosudy-i-apparaty-emkostnye/deaeratory/">Деаэраторы</a>
                                                    </li>
                                                    <li class="book__item">
                                                        <a class="book__link" href="/katalog/sosudy-i-apparaty-emkostnye/vertikalnye_celnosvarnye_apparaty_s_nizhnim_ploskim_i_verhnim_konicheskim_dnishhami/">Вертикальные цельносварные аппараты с нижним плоским и верхним коническим днищами (ВПК)</a>
                                                    </li>
                                                    <li class="book__item">
                                                        <a class="book__link" href="/katalog/sosudy-i-apparaty-emkostnye/vertikalnye_apparaty_s_nizhnim_konicheskim_i_verhnim_jellipticheskim_dnishhami/">Вертикальные аппараты с нижним коническим и верхним эллиптическим днищами (ВКЭ)</a>
                                                    </li>
                                                    <li class="book__item">
                                                        <a class="book__link" href="/katalog/sosudy-i-apparaty-emkostnye/apparaty_emkostnye_cilindricheskie/">Аппараты емкостные цилиндрические для жидких и газовых сред типов 1,2,3</a>
                                                    </li>
                                                    <li class="book__item">
                                                        <a class="book__link" href="/katalog/sosudy-i-apparaty-emkostnye/sosudy_cilindricheskie_gorizontalnye/">Сосуды цилиндрические горизонтальные для сжиженного бутана (БС) и пропана (ПС)</a>
                                                    </li>
                                                    <li class="book__item">
                                                        <a class="book__link" href="/katalog/sosudy-i-apparaty-emkostnye/vozduhosborniki_vertikalnye/">Воздухосборники вертикальные для воздушных стационарных компрессоров</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="book__item">
                                                <a class="book__link" href="#">Аппараты теплообменные кожухотрубчатые</a>
                                            </li>
                                            <li class="book__item">
                                                <a class="book__link" href="#">Аппараты колонные</a>
                                            </li>
                                            <li class="book__item">
                                                <a class="book__link" href="#">Аппараты контактные сернокислотные</a>
                                            </li>
                                            <li class="book__item">
                                                <a class="book__link" href="#">Трубные пучки</a>
                                            </li>
                                            <li class="book__item">
                                                <a class="book__link" href="#">Технологическое оборудование</a>
                                            </li>
                                            <li class="book__item">
                                                <a class="book__link" href="#">Технлогические линии</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="book__content">
                                        <h1 class="book__heading">
                                            Вертикальные цельносварные аппараты с нижним коническим и верхним плоским днищами (ВКП)
                                        </h1>
                                        <div class="book__page">
                                            <div class="product">
                                                <div class="tabs">
                                                    <div class="tabs__navigation hide-scrollbar">
                                                        <button class="tabs__tag tabs__tag--current" type="button">Чертежи</button>
                                                        <button class="tabs__tag" type="button">Описание</button>
                                                        <button class="tabs__tag" type="button">Таблица характеристик</button>
                                                        <button class="tabs__tag" type="button">Материальное исполнение</button>
                                                        <div class="tabs__addition">
                                                            <a class="file-link" href="#">
                                                                <!-- Иконка файла из этого пакета: https://www.svgrepo.com/collection/vscode-icons/ -->
                                                                <img class="file-link__icon" src="../content/file-link/word.svg" width="24" height="24" alt="">
                                                                Скачать опросный лист (.doc)
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tabs__bodies">
                                                        <div class="tabs__body tabs__body--current">
                                                            <div class="wysiwyg">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <a class="showPhoto" rel="lightbox" href="#">
                                                                                <img src="../temp/10.png" width="300" alt="">
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a class="showPhoto" rel="lightbox" href="#">
                                                                                <img src="../temp/10_1.png" width="300" alt="">
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><h4>Вертикальный цельносварной аппарат с нижним коническим и верхним плоским днищами</h4></td>
                                                                        <td><h4>Вертикальный цельносварной аппарат с нижним коническим и верхним плоским днищами, со змеевиком</h4></td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="tabs__body">
                                                            <div class="wysiwyg">
                                                                <img class="rght" src="../temp/5-1.jpg" width="200">
                                                                <p>Вертикальные цельносварные аппараты с нижним коническим неотбортованным и верхним плоским днищами предназначены для приема, хранения и выдачи жидких сред при атмосферном давлении.</p>
                                                                <p>Сосуды могут быть использованы в качестве отстойников.</p>
                                                                <p>Вертикальные цельносварные аппараты с нижним коническим неотбортованным и верхним плоским днищами, со змеевиком предназначены для приема, хранения и выдачи жидких сред при атмосферном давлении с постоянным или периодическим подогревом или охлаждением.</p>
                                                                <p>Давление теплоносителя не более 0,6 МПа.</p>
                                                                <p>Пример условного обозначения:</p>
                                                                <p class="oboznach">ВКП1-1-10-0  ТУ 3615-001-64790212-2012,</p>
                                                                <p>где ВКП – вертикальный с коническим нижним и плоским верхним днищами;<br>
                                                                    1 – цельносварной;
                                                                    1 – без внутренних устройств и рубашки; 10 – номинальный объём, м<sup>3</sup>; <br>
                                                                    0 – избыточное  давление, МПа.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="tabs__body">
                                                            <div class="wysiwyg">
                                                                <h3>Параметры и размеры ВКП1-1</h3>
                                                                <div class="scrollable-on-smartphone hide-scrollbar">
                                                                    <table class="harakt" rules="all">
                                                                        <tbody><tr>
                                                                            <td rowspan="2"> Условное  обозначение </td>
                                                                            <td colspan="7"> Размеры, мм </td>
                                                                            <td colspan="2"> Объем, м<sup>3</sup> </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> D </td>
                                                                            <td> h </td>
                                                                            <td colspan="2"> R </td>
                                                                            <td> R<sub>1</sub> </td>
                                                                            <td> k<sub>1</sub>  </td>
                                                                            <td> k<sub>3</sub>  </td>
                                                                            <td> ном. </td>
                                                                            <td> раб. </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-1-10-0 </td>
                                                                            <td> 2200 </td>
                                                                            <td> 2200 </td>
                                                                            <td colspan="2"> 800 </td>
                                                                            <td> 600 </td>
                                                                            <td> 3340 </td>
                                                                            <td rowspan="2"> 150 </td>
                                                                            <td> 10 </td>
                                                                            <td> 8,7 </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-1-16-0 </td>
                                                                            <td> 2600 </td>
                                                                            <td> 2500 </td>
                                                                            <td colspan="2"> 950 </td>
                                                                            <td> 750 </td>
                                                                            <td> 3840 </td>
                                                                            <td> 16 </td>
                                                                            <td> 14,1 </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-1-25-0 </td>
                                                                            <td> 2800 </td>
                                                                            <td> 3600 </td>
                                                                            <td colspan="2"> 1000 </td>
                                                                            <td> 850 </td>
                                                                            <td> 5040 </td>
                                                                            <td> 200 </td>
                                                                            <td> 25 </td>
                                                                            <td> 23 </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td rowspan="3"> Условное
                                                                                обозначение </td>
                                                                            <td colspan="9"> СОСУДЫ НА ОПОРАХ-ЛАПАХ </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="7"> Размеры, мм </td>
                                                                            <td colspan="2" rowspan="2"> Масса, кг </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="2"> S </td>
                                                                            <td> h<sub>1</sub>  </td>
                                                                            <td colspan="2"> L </td>
                                                                            <td> B </td>
                                                                            <td> H </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-1-10-0 </td>
                                                                            <td colspan="2" rowspan="3"> 8 </td>
                                                                            <td> 600 </td>
                                                                            <td colspan="2"> 2690 </td>
                                                                            <td> 2690 </td>
                                                                            <td> 3825 </td>
                                                                            <td colspan="2"> 2040 </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-1-16-0 </td>
                                                                            <td rowspan="2"> 800 </td>
                                                                            <td colspan="2"> 3250 </td>
                                                                            <td> 3250 </td>
                                                                            <td> 4325 </td>
                                                                            <td colspan="2"> 2780 </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-1-25-0 </td>
                                                                            <td colspan="2"> 3615 </td>
                                                                            <td> 3615 </td>
                                                                            <td> 5525 </td>
                                                                            <td colspan="2"> 3930 </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td rowspan="3"> Условное
                                                                                обозначение </td>
                                                                            <td colspan="9"> СОСУДЫ НА ОПОРАХ-СТОЙКАХ </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="7"> Размеры, мм </td>
                                                                            <td colspan="2" rowspan="2"> Масса, кг </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="2"> S </td>
                                                                            <td> h<sub>2</sub> </td>
                                                                            <td colspan="2"> L </td>
                                                                            <td> B </td>
                                                                            <td> H </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-1-10-0 </td>
                                                                            <td colspan="2" rowspan="3"> 8 </td>
                                                                            <td> 2810 </td>
                                                                            <td colspan="2"> 2360 </td>
                                                                            <td> 2365 </td>
                                                                            <td> 3825 </td>
                                                                            <td colspan="2"> 2040 </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-1-16-0 </td>
                                                                            <td> 3260 </td>
                                                                            <td colspan="2"> 2730 </td>
                                                                            <td> 2740 </td>
                                                                            <td> 4325 </td>
                                                                            <td colspan="2"> 2730 </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-1-25-0 </td>
                                                                            <td> 4560 </td>
                                                                            <td colspan="2"> 2920 </td>
                                                                            <td> 2925 </td>
                                                                            <td> 5525 </td>
                                                                            <td colspan="2"> 3920 </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="clear3"></div>
                                                                <h3>Параметры и размеры ВКП1-4</h3>
                                                                <div class="scrollable-on-smartphone hide-scrollbar">
                                                                    <table class="harakt" rules="all">
                                                                        <tbody><tr>
                                                                            <td rowspan="2"> Условное обозначение </td>
                                                                            <td colspan="2"> Объем, м<sup>3</sup> </td>
                                                                            <td rowspan="2"> Поверхность теплообмена, м<sup>3</sup> </td>
                                                                            <td colspan="11"> Размеры, мм </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ном. </td>
                                                                            <td> раб. </td>
                                                                            <td colspan="2"> D </td>
                                                                            <td> h </td>
                                                                            <td colspan="2"> R </td>
                                                                            <td colspan="2"> R<sub>1</sub></td>
                                                                            <td colspan="2"> k<sub>1</sub></td>
                                                                            <td> k<sub>3</sub> </td>
                                                                            <td> k<sub>4</sub></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-4-10 </td>
                                                                            <td> 10 </td>
                                                                            <td> 8,7 </td>
                                                                            <td> 2,9 </td>
                                                                            <td colspan="2"> 2200 </td>
                                                                            <td> 2200 </td>
                                                                            <td colspan="2"> 800 </td>
                                                                            <td colspan="2"> 600 </td>
                                                                            <td colspan="2"> 3340 </td>
                                                                            <td rowspan="2"> 150 </td>
                                                                            <td> 200 </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-4-16 </td>
                                                                            <td> 16 </td>
                                                                            <td> 14,1 </td>
                                                                            <td rowspan="2"> 3,5 </td>
                                                                            <td colspan="2"> 2600 </td>
                                                                            <td> 2500 </td>
                                                                            <td colspan="2"> 950 </td>
                                                                            <td colspan="2"> 750 </td>
                                                                            <td colspan="2"> 3840 </td>
                                                                            <td> 250 </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-4-25 </td>
                                                                            <td> 25 </td>
                                                                            <td> 23 </td>
                                                                            <td colspan="2"> 2800 </td>
                                                                            <td> 3600 </td>
                                                                            <td colspan="2"> 1000 </td>
                                                                            <td colspan="2"> 850 </td>
                                                                            <td colspan="2"> 5040 </td>
                                                                            <td> 200 </td>
                                                                            <td> 300 </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td rowspan="3"> Условное
                                                                                обозначение </td>
                                                                            <td colspan="6"> СОСУДЫ НА ОПОРАХ-ЛАПАХ </td>
                                                                            <td colspan="8"> СОСУДЫ НА ОПОРАХ-СТОЙКАХ </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="5"> Размеры, мм </td>
                                                                            <td rowspan="2"> Масса, кг </td>
                                                                            <td colspan="7"> Размеры, мм </td>
                                                                            <td rowspan="2"> Масса,
                                                                                кг </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> S </td>
                                                                            <td> h<sub>1</sub> </td>
                                                                            <td> L </td>
                                                                            <td> B </td>
                                                                            <td> H </td>
                                                                            <td> S </td>
                                                                            <td colspan="2"> h<sub>2</sub> </td>
                                                                            <td colspan="2"> L </td>
                                                                            <td> B </td>
                                                                            <td> H </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-4-10 </td>
                                                                            <td rowspan="3"> 8 </td>
                                                                            <td> 600 </td>
                                                                            <td> 2690 </td>
                                                                            <td> 2690 </td>
                                                                            <td> 3825 </td>
                                                                            <td> 2120 </td>
                                                                            <td rowspan="3"> 8 </td>
                                                                            <td colspan="2"> 2810 </td>
                                                                            <td colspan="2"> 2360 </td>
                                                                            <td> 2365 </td>
                                                                            <td> 3825 </td>
                                                                            <td> 2120 </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-4-16 </td>
                                                                            <td> 800 </td>
                                                                            <td> 3250 </td>
                                                                            <td> 3250 </td>
                                                                            <td> 4325 </td>
                                                                            <td> 2870 </td>
                                                                            <td colspan="2"> 3260 </td>
                                                                            <td colspan="2"> 2730 </td>
                                                                            <td> 2740 </td>
                                                                            <td> 4325 </td>
                                                                            <td> 2820 </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td> ВКП1-4-25 </td>
                                                                            <td>&nbsp; </td>
                                                                            <td> 3615 </td>
                                                                            <td> 3615 </td>
                                                                            <td> 5525 </td>
                                                                            <td> 4020 </td>
                                                                            <td colspan="2"> 4560 </td>
                                                                            <td colspan="2"> 2920 </td>
                                                                            <td> 2925 </td>
                                                                            <td> 5525 </td>
                                                                            <td> 4010 </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="clear3"></div>
                                                                <p>Масса аппаратов определяется индивидуально, исходя из данных, предоставляемых в опросном листе.</p>
                                                            </div>
                                                        </div>
                                                        <div class="tabs__body">
                                                            <div class="wysiwyg">
                                                                <div class="scrollable-on-smartphone hide-scrollbar">
                                                                    <table class="harakt" rules="all" cellspacing="0" cellpadding="0">
                                                                        <thead>
                                                                            <tr>
                                                                                <td rowspan="2"> Тип аппарата</td>
                                                                                <td rowspan="2"> Исполнение по
                                                                                    материалу
                                                                                </td>
                                                                                <td colspan="4"> Материал</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td> кожуха</td>
                                                                                <td> распределительной камеры</td>
                                                                                <td> труб</td>
                                                                                <td> трубной решетки</td>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td> ИХ-1/2</td>
                                                                                <td> М1</td>
                                                                                <td colspan="2"> 09Г2С, 16ГС ГОСТ 5520</td>
                                                                                <td> Сталь 10, 20 ГОСТ 1050, <br>

                                                                                    ГОСТ 550 гр. А, ГОСТ 8733 гр. В
                                                                                </td>
                                                                                <td> 09Г2С, 16ГС ГОСТ 5520 <br>

                                                                                    ГОСТ 8479 гр. IV, ГОСТ 19281
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td> ИХ-2</td>
                                                                                <td> М12</td>
                                                                                <td colspan="2"> 09Г2С, 16ГС ГОСТ 5520
                                                                                </td>
                                                                                <td> 08Х22Н6Т ГОСТ 9941, ГОСТ 5632, 08Х18Н10Т ГОСТ 9941, ГОСТ 5632</td>
                                                                                <td> 08Х22Н6Т ГОСТ 5632, <br>

                                                                                    ГОСТ 7350 гр. М2б, ГОСТ 25054 гр. IV
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td> ИХ-2</td>
                                                                                <td> М17</td>
                                                                                <td colspan="2"> 09Г2С ГОСТ 5520, <br>

                                                                                    трубы - сталь <br>

                                                                                    10Г2 ГОСТ 8731 гр. А
                                                                                </td>
                                                                                <td> 10Г2 <br>

                                                                                    ГОСТ 550 гр. А, <br>

                                                                                    ГОСТ 8733 гр. В
                                                                                </td>
                                                                                <td> 09Г2С, 10Г2 ГОСТ 5520, 09Г2С, 10Г2 <br>

                                                                                    ГОСТ 8479 гр. IV
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td> ИХ-2</td>
                                                                                <td> Б6</td>
                                                                                <td> 09Г2С, 16ГС ГОСТ 5520</td>
                                                                                <td> 16ГС+12Х18Н10Т ГОСТ 10885</td>
                                                                                <td> 08Х18Н10Т, 12Х18Н10Т <br>

                                                                                    ГОСТ 9941, ГОСТ 5632.
                                                                                </td>
                                                                                <td> 12Х18Н10Т ГОСТ 5632, <br>

                                                                                    ГОСТ 7350 гр. М2б, ГОСТ 25054 гр. IV
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page__footer">
                <footer class="footer">

                </footer>
            </div>
        </div>

        <!-- .mfp -->
        <div class="window mfp-hide" id="login">
            <button class="window__close mfp-close" type="button">
                Close
            </button>
            <div class="login">
                <h2 class="login__heading">
                    Magnific Popup!
                </h2>
                <div class="login__body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur debitis eligendi fugiat provident sed, velit! At debitis dolore fuga ipsum laudantium nemo reiciendis temporibus voluptates? Ab, accusantium aspernatur cumque dicta ducimus eaque eius eos eum in maxime nihil nulla numquam velit. Accusamus, aliquid atque beatae culpa cupiditate fugiat iure iusto non odit pariatur quae saepe ullam voluptatibus.
                </div>
            </div>
        </div>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>
        <script src="../scripts/scripts.js"></script>

    </body>
</html>
