<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Главная</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <div class="page">
            <div class="page__body page__body--homepage">
                <header class="header">
                    <div class="header__primary">
                        <div class="header__primary-wrap container">
                            <nav class="header__nav">
                                <a class="header__link header__link--current" href="#">Главная</a>
                                <a class="header__link" href="#">Качество</a>
                                <a class="header__link" href="#">Поставщикам</a>
                                <a class="header__link" href="#">Контакты</a>
                            </nav>
                            <div class="header__search">
                                <div class="find">
                                    <input class="find__widget" type="text" placeholder="Поиск">
                                    <button class="find__submit" type="button">Найти</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__secondary">
                        <div class="header__secondary-wrap container">
                            <a class="header__logo" href="home.html">
                                Ярославское НПО<br>
                                нефтехимического<br class="header__logo-line-break"> машиностроения
                            </a>
                            <div class="header__actions">
                                <a class="header__phone" href="tel: +74852662305"><span class="header__code">(4852)</span> 66-23-05</a>
                                <a class="header__email" href="mailto:info@nponeft.ru">info@nponeft.ru</a>
                                <button class="header__burger" type="button">Меню</button>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="main">
                    <div class="intro">
                        <div class="intro__wrap container">
                            <h1 class="intro__heading">
                                Производство оборудования под&nbsp;давлением
                            </h1>
                            <div class="intro__description">
                                <div class="wysiwyg wysiwyg--halved">
                                    <p>ООО «Ярославское НПО нефтехимического машиностроения» является непосредственным изготовителем оборудования, работающего под избыточным давлением. Сфера деятельности распространяется на сосуды и аппараты, используемые на объектах нефтеперерабатывающей, нефтедобывающей, газовой, котельной, водоподготовительной, пищевой и химической промышленности.</p>
                                    <p>Актуальность данного оборудования характеризуется не только использованием его в важнейших отечественных отраслях промышленности, но и в реальной возможности комплексного импортозамещения по показателям надёжности и надлежащего функционирования.</p>
                                    <p>Наличие собственного производства и конструкторского бюро дает нам возможность изготовления нестандартного оборудования, в том числе конвейерных линий; запчастей и оснастки, - как собственного проектирования, так и по чертежам заказчика; металлоконструкций общепромышленного назначения и оборудования по изготовлению РТИ.</p>
                                    <p>В сферу наших услуг входит ремонт и модернизация теплообменных, колонных и емкостных аппаратов, разработка и установка узлов и деталей, используемых в различных отраслях промышленности.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog catalog--home container">
                        <div class="catalog__navigation">
                            <div class="catalog__item">
                                <a class="catalog__preview" href="cat-category.html" tabindex="-1">
                                    <img class="catalog__image" src="../content/catalog/emk.png">
                                </a>
                                <div class="catalog__label">
                                    <a class="catalog__link" href="cat-category.html">Сосуды и аппараты емкостные</a>
                                </div>
                            </div>
                            <div class="catalog__item">
                                <a class="catalog__preview" href="cat-category.html" tabindex="-1">
                                    <img class="catalog__image" src="../content/catalog/uzli.png">
                                </a>
                                <div class="catalog__label">
                                    <a class="catalog__link" href="cat-category.html">Аппараты теплообменные кожухотрубчатые</a>
                                </div>
                            </div>
                            <div class="catalog__item">
                                <a class="catalog__preview" href="cat-category.html" tabindex="-1">
                                    <img class="catalog__image" src="../content/catalog/rezervuar.png">
                                </a>
                                <div class="catalog__label">
                                    <a class="catalog__link" href="cat-category.html">Аппараты колонные</a>
                                </div>
                            </div>
                            <div class="catalog__item">
                                <a class="catalog__preview" href="cat-category.html" tabindex="-1">
                                    <img class="catalog__image" src="../content/catalog/ser1_mini.png">
                                </a>
                                <div class="catalog__label">
                                    <a class="catalog__link" href="cat-category.html">Аппараты контактные сернокислотные</a>
                                </div>
                            </div>
                            <div class="catalog__item">
                                <a class="catalog__preview" href="cat-category.html" tabindex="-1">
                                    <img class="catalog__image" src="../content/catalog/apparat.png">
                                </a>
                                <div class="catalog__label">
                                    <a class="catalog__link" href="cat-category.html">Трубные пучки</a>
                                </div>
                            </div>
                            <div class="catalog__item">
                                <a class="catalog__preview" href="cat-category.html" tabindex="-1">
                                    <img class="catalog__image" src="../content/catalog/vodo-oborud.png">
                                </a>
                                <div class="catalog__label">
                                    <a class="catalog__link" href="cat-category.html">Технологическое оборудование</a>
                                </div>
                            </div>
                            <div class="catalog__item">
                                <a class="catalog__preview" href="cat-category.html" tabindex="-1">
                                    <img class="catalog__image" src="../content/catalog/22222222.png">
                                </a>
                                <div class="catalog__label">
                                    <a class="catalog__link" href="cat-category.html">Технологические линии</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page__footer">
                <footer class="footer">

                </footer>
            </div>
        </div>

        <!-- .mfp -->
        <div class="window mfp-hide" id="login">
            <button class="window__close mfp-close" type="button">
                Close
            </button>
            <div class="login">
                <h2 class="login__heading">
                    Magnific Popup!
                </h2>
                <div class="login__body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur debitis eligendi fugiat provident sed, velit! At debitis dolore fuga ipsum laudantium nemo reiciendis temporibus voluptates? Ab, accusantium aspernatur cumque dicta ducimus eaque eius eos eum in maxime nihil nulla numquam velit. Accusamus, aliquid atque beatae culpa cupiditate fugiat iure iusto non odit pariatur quae saepe ullam voluptatibus.
                </div>
            </div>
        </div>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>
        <script src="../scripts/scripts.js"></script>

    </body>
</html>
